In [22]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mpl_toolkits.basemap import Basemap
import plotly.express as px

In [23]:
data = pd.read_csv(r"C:\Users\Zachary.Cone.SERN\Desktop\SSE 591-Intro to Python & Data Science\Week 4\SSE591_Week4\Tsunami Events Dataset.csv")
Japan = data.query("Country == 'JAPAN'")
Tsunamis = Japan.iloc[:, list(range(1,4))+[9]+[15]+[16]]
Tsunamis = Tsunamis.dropna().reset_index(drop=True)
Tsunamis["Time"] = pd.to_datetime({
    "year": Tsunamis["Year"],
    "month": Tsunamis["Mo"],
    "day": Tsunamis["Dy"]
})
Tsunamis = Tsunamis.drop(["Year", "Mo", "Dy"], axis=1)
Tsunamis = Tsunamis[['Time','EarthquakeNanMagnitude','Latitude','Longitude']]
Tsunamis = Tsunamis.rename(columns={'EarthquakeNanMagnitude': "Mag", 'Latitude': "Lat", 'Longitude': "Lon"})
Tsunamis

          Time  Mag     Lat      Lon
0   1901-06-15  6.0  39.000  143.000
1   1901-06-24  7.5  28.000  130.300
2   1901-08-09  7.2  40.500  142.500
3   1901-08-09  7.4  40.600  142.300
4   1901-08-09  6.3  40.500  142.500
..         ...  ...     ...      ...
161 2018-05-06  5.4  31.444  140.193
162 2019-06-18  6.4  38.646  139.472
163 2021-02-13  7.1  37.745  141.749
164 2022-03-16  7.3  37.702  141.587
165 2023-05-05  6.2  37.540  137.305

[166 rows x 4 columns]

In [ ]:
fig = px.scatter_mapbox(
    data_frame = Tsunamis,
    lat="Lat",
    lon="Lon",
   
    hover_data=["Time", "Mag"],
   
    color="Mag",
    size="Mag",
    size_max=50,
    opacity=0.4,
    
    zoom=5,
    height=1500,
    width=1500)
fig.update_layout(mapbox_style='open-street-map')
fig.update_layout(margin={"r": 0, "t": 0, "l": 0, "b": 0})