In [15]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

earthquakes = pd.read_csv(r"C:\Users\Zachary.Cone.SERN\Desktop\SSE 591-Intro to Python & Data Science\Week 4\SSE591_Week4\Tsunami Events Dataset.csv")

df = earthquakes.loc[:, "Year":"TsunamiNanIntensity"]
df1 = df.query("Country == 'JAPAN'")
df1.head(1500)

,Year,Mo,Dy,Hr,Mn,Sec,TsunamiNanEventNanValidity,TsunamiNanCauseNanCode,EarthquakeNanMagnitude,Vol,...,Deposits,Country,LocationNanName,Latitude,Longitude,MaximumNanWaterNanHeightNan(m),NumberNanofNanRunups,TsunamiNanMagnitudeNan(Abe),TsunamiNanMagnitudeNan(Iida),TsunamiNanIntensity
8,1901,6.0,15.0,NaN,NaN,NaN,4,1,6.0,NaN,...,0,JAPAN,"IWATE,NanJAPAN",39.000,143.000,NaN,0,NaN,NaN,NaN
9,1901,6.0,24.0,NaN,NaN,NaN,4,1,7.5,NaN,...,0,JAPAN,RYUKYUNanISLANDS,28.000,130.300,0.25,4,NaN,-2.3,-1.5
10,1901,8.0,9.0,9.0,23.0,30.0,4,1,7.2,NaN,...,0,JAPAN,OFFNanNORTHEASTNanCOASTNanHONSHU,40.500,142.500,0.60,3,NaN,0.0,-0.5
12,1901,8.0,9.0,18.0,33.0,45.0,4,1,7.4,NaN,...,0,JAPAN,OFFNanNORTHEASTNanCOASTNanHONSHU,40.600,142.300,0.25,2,NaN,-1.0,-1.0
13,1901,8.0,9.0,20.0,0.0,NaN,4,1,6.3,NaN,...,0,JAPAN,OFFNanNORTHEASTNanCOASTNanHONSHU,40.500,142.500,0.02,1,NaN,-1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1378,2019,3.0,20.0,NaN,NaN,NaN,3,9,NaN,NaN,...,0,JAPAN,"NAGASAKI,NanJAPAN",NaN,NaN,2.90,2,NaN,NaN,NaN
1383,2019,6.0,18.0,13.0,22.0,19.0,4,1,6.4,NaN,...,0,JAPAN,NIIGATA,38.646,139.472,0.10,5,NaN,NaN,NaN
1404,2021,2.0,13.0,14.0,7.0,50.0,4,1,7.1,NaN,...,0,JAPAN,OFFNanFUKUSHIMANanPREFECTURE,37.745,141.749,0.10,4,NaN,NaN,NaN
1421,2022,3.0,16.0,14.0,36.0,33.0,4,1,7.3,NaN,...,0,JAPAN,OFFNanFUKUSHIMANanPREFECTURE,37.702,141.587,0.30,5,NaN,NaN,NaN
1439,2023,5.0,5.0,5.0,42.0,4.0,4,1,6.2,NaN,...,0,JAPAN,"NOTONanPENINSULA,NanJAPAN",37.540,137.305,0.10,2,NaN,NaN,NaN

In [ ]:
# Extract the data we're interested in
lat = earthquakes['Latitude'].values
lon = earthquakes['Longitude'].values
richter = earthquakes['population_total'].values
area = earthquakes['area_total_km2'].values

# 1. Draw the map background
fig = plt.figure(figsize=(8, 8))
m = Basemap(projection='lcc', resolution='h', 
            lat_0=37.5, lon_0=-119,
            width=1E6, height=1.2E6)
m.shadedrelief()
m.drawcoastlines(color='gray')
m.drawcountries(color='gray')
m.drawstates(color='gray')

# 2. scatter city data, with color reflecting population
# and size reflecting area
m.scatter(lon, lat, latlon=True,
          c=np.log10(population), s=area,
          cmap='Reds', alpha=0.5)

# 3. create colorbar and legend
plt.colorbar(label=r'$\log_{10}({\rm population})$')
plt.clim(3, 7)

# make legend with dummy points
for a in [100, 300, 500]:
    plt.scatter([], [], c='k', alpha=0.5, s=a,
                label=str(a) + ' km$^2$')
plt.legend(scatterpoints=1, frameon=False,
           labelspacing=1, loc='lower left');